*{
	margin: 0;
	padding: 0;
}
.header{
	min-width: auto;
	height: 150px;
	background-color: #5868b5;
	color: #FEFCFF;
}
.navigator{
	min-width: auto;
	height: 70px;
	background-color: #3f51b5;
}
.img_box{
	float: left;
	width: 60px;
	height: 50px;
	text-align: center;
	margin: 0 10px 0 52px;
}
.img_box img{
	width:25px;
	height: 25px;
	margin-top: 10px;
}
.img_box p{
	color: #FEFCFF;
	font-size: 14px;
}
.header img{
	float: left;
	margin: 65px 0 0 20px;
	width: 55px;
	height: 55px;
	border-radius: 90px 90px;
}
.header p{
	float: left;
	width: 300px;
	height: 25px;
	margin: 60px 0 -54px 25px;
}
.update{
	min-width: auto;
	height:120px;
	margin: 10px 10px 0 10px;
	box-shadow: 1px 1px 5px 1px #d7d7d7;
}
.login{
	font-size: 22px;
	font-weight: 530;
}
.login2{
	position: absolute;
	margin: 10px 0 0 20px;
	font-size: 20px;
}
.followers,.following,.public_repos{
	text-align: center;
	float: left;
	width: 90px;
	height: 50px;
	margin: 60px 0 0 28px;
}


/*events*/
.eventsList img{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 90px;
	margin: 10px 10px 5px 10px;
}
.eventsList li{
	list-style: none;
	min-width: auto;
	height: 120px;
	margin: 10px 10px 0 10px;
	box-shadow: 1px 1px 5px 1px #d7d7d7;
}
.eventsList span{
	float: left;
	margin: 20px 50px 0 -46px;
}
.eventsList_name{
	width: 200px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.eventsList_login{
	float: left;
	width: 250px;
	margin-top: 20px;
}




/*starred样式*/
.starred li{
	list-style: none;
	width: auto;
	min-height: 80px;
	margin: 10px 10px 0 10px;
	box-shadow: 1px 1px 5px 1px #d7d7d7;
	overflow: hidden;
}
.avatar-box .avatar{
	margin: 10px 10px 35px 20px;
	width: 45px;
	height: 45px;
	border-radius: 90px 90px;
}
.avatar-box{
	width: 20%;
	float: left;
}
.desc-box{
	float: left;
	width: 75%;
	overflow: hidden;
}
.desc-box .description{
	width: 90%;
	overflow: hidden;
}
.starred .oepration img{
	width: 15px;
	height: 15px;
	margin-left: 15px;
}
.name{
	color: #676767;
	font-size: 20px;
}
.language{
	font-size: 18px;
	float: right;
	margin-right: 25px;
	color: #7d7d7d;
}
.description{
	margin-top: 10px;
	margin-bottom: 10px;
}
.oepration{
	overflow: hidden;
	margin-bottom: 10px;
}
.desc-box .oepration .people{
	width: 17px;
	height: 17px;
}
.navigator .stars{
	font-weight: 500;
}
